<article class="post" href="/post/{{id}}">
  <div class="title">
    {{title}}
    Posted by
    {{user.username}}
    on
    {{format_date created_at}}
  </div>
  <div class="post-body">
    <!-- add click even listener on entire post-->
    {{post_text}}
  </div>
</article>