<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    Posted on
    {{format_date created_at}}
    
  </div>
  <div>
    {{post_text}}
  </div>
  <!-- <div class="post-body">
    {{post_text}}
  </div>-->
</article>